body {
    background-color: black;
    position: fixed; /* Keeps the footer at the bottom of the viewport */
    bottom: 0;
    left: 0;
    width: 100%;

  }
.quote-section {
    text-align: center;
    padding: 50px 20px;
    background-image: url('/Images/image-7.jpg');
  }
  
  .quote-container {
    display: inline-block;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 400px;
    margin: 0 ;
  }
  
  .quote-text {
    font-size: 28px;
    color: white;
    font-style: italic;
    transition: color 0.3s ease;
  }
  
  .quote-container:hover .quote-text {
    color: #d9534f;
  }
  
  /* Basic styling for footer */
  footer {
    margin-bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.708);
    color: white;
    background-image: url('/Images/image-4.jpg');
    text-align: right;
    overflow: hidden;
    height: 150px;
  }
  
  .footer-line {
    margin-bottom: 15px;
    font-weight: bolder;
    font-size: 18px;
  }
  
  .footer-icons a img {
    width: 30px;
    margin: 2px;
    margin-bottom: 15px;
  }
  
  .logout-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #de6713;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bolder;
    border-radius: 5px;
    text-align: left;
  }
  
  .logout-btn:hover {
    background-color: #c9302c;
  }
  
  /* Popup styling */
  .popup {
    display: none;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 40px;
    text-align: center;
    z-index: 1000;
  }
  
  .confirm-btn, .cancel-btn {
    margin: 10px;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bolder;
  }
  
  .confirm-btn {
    background-color: #08fa08;
    color: #0f0101;
    font-weight: bolder;
  }
  
  .cancel-btn {
    background-color: #ed0e06;
    color: #fff;
    font-weight: bolder;
  }
  